 .maindiv-container{
     width: 1150px;
     margin: auto;
 }
 .top-section{
    display: flex;
    align-items: center;
}
.top-title{
    text-align: center;
    margin: 10px;
}
.laft{
    width: 50%;
}
.right{
    width: 50%;
}

.btn1{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: 3px solid transparent;
    font-weight: bold;
    cursor: pointer;
}
.btn1:hover{
    background-color: transparent;
    color: black;
    border: 3px solid black;
}
.btn2{
    background-color: transparent;
    padding: 8px 20px;
    border: 3px solid black;
    font-weight: bold;
    cursor: pointer;
   
}
.btn2:hover{
    background-color: black;
    color: white;
    border: 3px solid transparent;
}
.container{
    text-align: center;
    width: 40%;
}
.mid-div{
    background-color: rgba(128, 128, 128, 0.452);
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}
.from{
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}
.emailbox{
    height: 30px;
    width: 200px;
    margin-right: 20px;

}
.part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part2{
    text-align: center;
}
.footer{
    background-color: rgba(128, 128, 128, 0.452);
    padding: 50px 0 20px 0 0 ;
}
*{
    padding: 0px;
    margin: 0px;
}
p,span{
    margin: 10px 0px;
    color: rgb(17, 211, 218);
}

.divder{
    margin: 15px 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}


